<app-adm-template [title]="TituloPagina" [breadcrumbs]="[['Home', '/home']]">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{homeEstatisticaDTO.totalEmpresas}}</h3>

            <p>Empresa cadastradas</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="/empresa" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{homeEstatisticaDTO.totalPesquisas}}</h3>

            <p>Pesquisas cadastradas</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="/pesquisas" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{homeEstatisticaDTO.totalResponderam}}</h3>

            <p>Avaliações recebidas</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="/pesquisas" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

</app-adm-template>
