# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DESENVOLVIMENTO\pequisa_nps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
